body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.sidebar {
    height: 100vh;
    background-color: #FE2222;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    width: 250px;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar img {
    display: block;
    width: 70px;
    left: 0px;
}

.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.sidebar .nav-link {
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    border-radius: 40px;
}

.sidebar .nav {
    margin-top: 140px;
}

.sidebar .nav-link:hover {
    background-color: #ffffff;
    color: #FE2222;
    border-radius: 40px;
}

.logout {
    margin-top: 190px;
    text-align: center;
}

.logout .nav-link2 {
    color: #ffffff;
    font-size: 16px;
}

.logout .nav-link2:hover {
    background-color: #ffffff;
    color: #FE2222;
    border-radius: 10px;
}

.content {
    margin-left: 270px;
    padding: 20px;
    margin-top: 20px;
}

.user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px; 
}

.user-name {
    font-size: 1.2em;
    margin-right: 10px;
}

.profile-icon {
    font-size: 2.2em;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1em;
}

.card-header {
    font-size: 1.2em;
    background-color: #FE2222;
    color: white;
    text-align: center;
}

.card-body {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 10px;
}

.text-right {
    text-align: right;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
        padding: 10px;
    }

    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}